---
# Front Matter
layout: default
title: Home
description: Web Accessibility Guide
---

<h1 class="main-title">{% include logo.html %} Web Accessibility Guide</h1>

{% include navigation.html %}

<p class="intro">Handi_code’s website is your designer guide to web accessibility. Download our widget to stand with us in the promotion of accessible design and the inclusion of all.</p>

{% for item in site.items %}
<div>
    <h2 class="item-title">{{ item.name }}</h2>
    <hr>
    <p class="item-description">{{ item.description }}</p>
    {{ item.content }}
</div>
{% endfor %}