<div class="exampleContainer">
    <div class="contentBox box1">
        <div class="boxContent box1Content">
            <img src="assets/images/sloth.jpg">
        </div>
        <p class="box1Label">
            Bad: No Alt Text
        </p>
    </div>

    <div class="contentBox box2">
        <div class="boxContent box2Content">
            <img src="assets/images/sloth.jpg" alt="An image of a brown sloth hanging underneath a branch of a tree">
        </div>
        <p class="box2Label">
            Good: Alt Text is Descriptive
        </p>
    </div>
</div>