<div class="exampleContainer">
    <div class="contentBox box1">
        <div class="boxContent box1Content" style="background-color: #ffffff">
            <p style="color: #000000">This text is hardcoded to always be black on a white background.</p>
        </div>
        <p class="box1Label">
            Bad: Text is always white on a black background and does not adjust when the user is in dark mode or light mode.
        </p>
    </div>

    <div class="contentBox box2">
        <div class="boxContent box2Content">
            <p>This text takes advantage of the site-wide media queries to change color based on the user's prefered theme.</p>
        </div>
        <p class="box2Label">
            Good: Text and background adjust based on the user's preference as set within their OS.
        </p>
    </div>
</div>