<div class="exampleContainer">
    <div class="contentBox box1">
        <div class="boxContent box1Content" style="background-color: #CD7E1B;">
            <p style="color: #1DA616">This text is very hard to read, and it would be even harder for someone who is colorblind or has trouble differentiating colors.</p>
        </div>
        <p class="box1Label">
            Bad: Text has poor color contrast and is not colorblind friendly.
        </p>
    </div>

    <div class="contentBox box2">
        <div class="boxContent box2Content" style="background-color: #001064;">
            <p style="color: #ffffff">This text is easier to read and provides a good contrast.</p>
        </div>
        <p class="box2Label">
            Good: Text is easy to read and provides a high contrast.
        </p>
    </div>
</div>