<div class="exampleContainer">
    <div class="contentBox box1">
        <div class="boxContent box1Content">
            <p class="badFont">This font is hard to read in small sizes and is uncomfortable to read in longer paragraph forms.</p>
        </div>
        <p class="box1Label">
            Bad: Font is hard to read in small sizes and paragraphs.
        </p>
    </div>

    <div class="contentBox box2">
        <div class="boxContent box2Content">
            <p>This font is clean, simple, and easy to read.</p>
        </div>
        <p class="box2Label">
            Good: Font is easy to read.
        </p>
    </div>
</div>