<div class="exampleContainer">
    <div class="contentBox box1">
        <div class="boxContent box1Content">
            <p style="font-size: 16px;">This font sized using px.</p>
        </div>
        <p class="box1Label">
            Bad: Font is sized using px and will not correctly scale when the browser or system's default font size is changed by the user.
        </p>
    </div>

    <div class="contentBox box2">
        <div class="boxContent box2Content">
            <p style="font-size: 1em;">This font is sized using em.</p>
        </div>
        <p class="box2Label">
            Good: Font is sized using em and will scale correctly when the user increases or decreases their default text size.
        </p>
    </div>
</div>