<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-wdith, initial-scale=1">
        <title>{{ page.title }}</title>
        <meta name="Description" content="{{page.description}}">
        <link rel="stylesheet" href="/WebAccessibility/assets/css/styles.css">
        <!-- <link rel="stylesheet" href="/assets/css/styles.css"> -->

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Alex+Brush&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="content">
            <!-- {% include navigation.html %} -->
            {{ content }}
        </div>
    </body>
</html>